* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}   

h1 {
    color: pink;
}

#main-nav a {
    color: #306319;
    background: #e3eceb;
    display: block;
    height: 64px;
    font-family: lato;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
}

#main-nav a:hover {
    background: #baf3d4;
}

#main-nav ul {
    list-style: none;
    display: flex;
}

#main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#main-nav li:hover .submenu > li {
    display: block;
    top: 0px;
}
.submenu li{
    display: none;
    position: absolute;
    width: 100%;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute:
    width: 100%;
}

/* .submenu
.submenu li:hover {
    display: none;
} */

.arrow {
    margin-left: 8px;
    color: #306319;
    font-size: 12px;
}

h1 {
    font-size: 72px;
    font-family: lato;
}

section {
    background: blue;
    display: flex;
}