* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}   

.html {
    font-size: 10px;
}

/*-----------------Logo- Post-------------------*/


.logo {
    width: 425px;
    height: 115px;
    background: white;
    border-radius: 50%;
    border: 5px solid rgb(58, 214, 201);
    color: rgb(58, 214, 201);
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    min-width: 300px;
    margin: 10px;

 
  }



.logo1 {
    font-size: 35px; 
    font-family: marck script, cursive;
    color: rgb(58, 214, 201);
    margin: auto;
    position: relative;
    margin-top: 0px;
    
    


   
}

.logo2 {
    font-family: sans-serif
    color: rgb(58, 214, 201); 
    text-decoration: underline;
    /* text-underline-position: under; */
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    font-weight: bolder;


     
}





/*--------------Navigation Menu --------------------------- */

#main-nav {
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
  
    
   

}

#main-nav a {
    color: black;
    background: white;
    width: 120px; /* allowed width from dropdown submenu to be inherited */
    height: 64px; 
    font-family: lato;
    font-weight: bold;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
    /* padding: 6px 25px 6px 25px;  
    margin: 0px 1px 0px 1px; */
    

}

#main-nav a:hover {
    background: rgb(189, 182, 182);

}

#main-nav ul {
    list-style: none;
    display: flex;
    /* position: relative; */
}

#main-nav li {
    text-align: center;
    position:6 relative;
}

#main-nav li:hover .submenu > li {
    top: 0px;
    display: block; 
    z-index: 10;  
} 

.submenu  li{
    position: relative; /*absolute in tutorial */
    top: 0px;
    display: none;

}.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}




/*-----------Banner ------------ */

.banner {
    width: 100%
    display: block;
    object-fit: cover;
    



}

.banner > .banner-image{
    height: 35rem;
    width: 100%;
    object-fit: cover;
    display: block;
    /* object-position: 50% 90%; */
}
.text-wrapper {
    width: 100%;
    position: absolute;
    margin-top: -32%;
    padding: 0 15% 0 15%;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-family: 'Playfair Display SC', serif;
    font-size: 1rem;
    color: white;

} 


/*----------- Summary ------------ */
  



#content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(22rem, 5rem); 
    grid-gap: 2rem;
    max-width: 100%;
    height: 100%;
    margin: 2rem 2rem 0rem 2rem;
}

.item img {
    max-width: 100%; 
    box-shadow: -8px 8px 0px 0px grey;
   
}


.grid-item {
    background-color: #ddd;
    
}

.grid-item-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid-item-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid-item-3 {
    grid-column: 3/4;
    grid-row:1/2;
}

.grid-item-3 > p {
    font-size: 10rem;
}

/*--------------MEDIA QUERIES ----------------*/



@media screen and (max-width: 1420px){
    #main-nav {
        display: inline;
        /* width: auto; */
      
        
    }
    
    #main-nav a {
        display: flex;
        align-items: center;
        /* justify-content: space-around; */
    }
    
    
    #main-nav ul{
        display: flex;
        justify-content: space-around;
    }
    
    .oval-logo {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        /* height: 100vh; */
    }



@media screen and (max-width: 1280px){
#main-nav {
    display: inline;
    /* width: auto; */
  
    
}

#main-nav a {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}


#main-nav ul{
    display: flex;
    justify-content: space-around;
}

.oval-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* height: 100vh; */
}

@media screen and (max-width: 992px){
    #main-nav {
        display: inline;
        /* width: auto; */
        
      
        
    }
    
    #main-nav a {
        display: flex;
        align-items: center;
        /* justify-content: space-around; */
        /* background-color: grey; */
        border-style: solid;
        margin: 4px;
    }
    
    
    #main-nav ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .oval-logo {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        /* height: 100vh; */
    }


    .text-wrapper {
        margin-top: -235px
    }
}


@media screen and (max-width: 410px){
    .oval-logo {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        /* height: 100vh; */
    }
}